
// background: transparent;
background: #000;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&[data-show="start"] {
		.start-view { display: block; }
	}

	&[data-show="game"] {
		.game-view { display: block; }
	}

	&[data-show="editor"] {
		.editor-view { display: block; }
	}

	&[data-state="paused"] {
		.editor-view {
			b.t7 {
				&:after {
					animation-play-state: paused;
				}
			}
		}
	}

	i[class^="icon-"],
	i[class*="icon-"] {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.c64-logo {
		position: absolute;
		top: 19px;
		right: 19px;
		width: 317px;
		height: 91px;
		display: inline-block;
		background: #000;
		border-radius: 13px;
		border: 2px solid #a98953;
		box-shadow: 0 2px 7px #000a,
					0 1px 17px #0009;

		i {
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;

			&.icon-logo-c {
				background-image: url(~/icons/icon-c64.png);
				top: 9px;
				left: 8px;
				width: 30px;
				height: 26px;
			}

			&.icon-logo-text {
				background-image: url(~/icons/icon-logo-text.png);
				top: 12px;
				left: 41px;
				width: 163px;
				height: 15px;
			}

			&.icon-logo-64 {
				background-image: url(~/icons/icon-logo-64.png);
				top: 11px;
				left: 213px;
				width: 92px;
				height: 47px;
			}

			&.logo-colors {
				background-image: url(~/icons/logo-colors.png);
				background-repeat: repeat;
				top: 37px;
				left: 9px;
				width: 191px;
				height: 23px;
			}
		}

		h2 {
			position: absolute;
			top: 64px;
			left: 11px;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 17px;
			letter-spacing: 1.75px;
			color: #e7a54a;
		}
	}

	.start-view {
		display: none;
		background: url(~/img/start.webp) 50% 50% no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 1080px;
		height: 720px;

		.buttons {
			position: absolute;
			top: 610px;
			left: 0;
			right: 0;
			scale: .7;
			text-align: center;

			.button {
				background: url(~/img/buttons.webp) no-repeat;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				
				&.start {
					background-position: 0 0;
					width: 386px;
					height: 94px;
					margin: 0 29px;
				}
				
				&.options {
					background-position: 0 -94px;
					// top: 9px;
					width: 275px;
					height: 67px;
				}
				
				&.high-scores {
					background-position: 0 -162px;
					// top: 9px;
					width: 276px;
					height: 68px;
				}
			}
		}
	}

	.game-view {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 1080px;
		height: 720px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			background: radial-gradient(circle at 50% 50%, #0000, #000b 49%, #000 59%);
			pointer-events: none;
		}

		canvas {
			background: #fff1;
			position: relative;
			display: block;
			margin: 0 auto;
			width: 720px;
			height: 720px;
		}
	}

	.editor-view {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		// --scale: .175;
		--scale: .5;
		--tW: calc( 150px * var( --scale ) );
		--tH: calc( 150px * var( --scale ) );

		.level {
			position: relative;
			width: calc( var( --tW ) * var( --mW ) );
			height: calc( var( --tH ) * var( --mH ) );
		}

		b {
			background: url(~/img/tiles.webp) no-repeat;
			background-size: calc( 1350px * var( --scale ) ) auto;
			position: relative;
			display: inline-block;
			width: var( --tW );
			height: var( --tH );

			&.t0 { background-position: calc( 150px * var( --scale ) ) calc( 150px * var( --scale ) ); }
			&.t1 { background-position: 0px 0px; }
			&.t2 { background-position: calc( -450px * var( --scale ) ) calc( -750px * var( --scale ) ); }
			&.t3 { background-position: calc( -450px * var( --scale ) ) calc( -600px * var( --scale ) ); }
			&.t4 { background-position: calc( -300px * var( --scale ) ) calc( -750px * var( --scale ) ); }

			&.t5 { background-position: 0px calc( -750px * var( --scale ) ); }

			&.t7 {
				background-position: calc( 150px * var( --scale ) ) calc( 150px * var( --scale ) );

				&:after {
					content: "";
					background: url(~/img/crystalball.webp) 0 0 no-repeat;
					position: absolute;
					top: 2px;
					left: 2px;
					width: 190px;
					height: 190px;
					transform-origin: 0 0;
					scale: calc( var( --scale ) * .75 );
					filter: drop-shadow(0 0 3px #fff5) drop-shadow(0 0 15px #fff7);
					// filter: drop-shadow(0 0 3px #aaf9) drop-shadow(0 0 15px #aafd) sepia(.75) saturate(2)  hue-rotate(135deg);
					animation: crystal 3000ms steps(40) infinite;
				}
			}

			&.t8 { background-position: calc( -300px * var( --scale ) ) calc( -750px * var( --scale ) ); }


			&.ta { background-position: 0px 0px; }
			&.tb { background-position: calc( -150px * var( --scale ) ) 0px; }
			&.tc { background-position: calc( -300px * var( --scale ) ) 0px; }
			&.td { background-position: calc( -450px * var( --scale ) ) 0px; }
			&.te { background-position: calc( -600px * var( --scale ) ) 0px; }
			&.tf { background-position: calc( -750px * var( --scale ) ) 0px; }
			&.tg { background-position: calc( -900px * var( --scale ) ) 0px; }
			&.th { background-position: calc( -1050px * var( --scale ) ) 0px; }
			&.ti { background-position: calc( -1200px * var( --scale ) ) 0px; }
		}
	}

	.diamond {
		background: url(~/img/shine.webp) 0 0 no-repeat;
		position: absolute;
		top: 298px;
		left: 453px;
		width: 82px;
		height: 82px;
		scale: .4;

		&:before {
			content: "";
			background: inherit;
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			mix-blend-mode: plus-lighter;
			animation: shine-red 4000ms steps(8) alternate-reverse infinite;
		}

		&.red { background-position: 0 0px; filter: drop-shadow(0 0 17px #f33a); }
		&.red:before  { animation-name: shine-red; }

		&.white { background-position: 0 -82px; filter: drop-shadow(0 0 17px #fffa); }
		&.white:before { animation-name: shine-white; }

		&.green { background-position: 0 -164px; filter: drop-shadow(0 0 17px #3f3a); }
		&.green:before { animation-name: shine-green; }

		&.yellow { background-position: 0 -246px; filter: drop-shadow(0 0 17px #ff0a); }
		&.yellow:before { animation-name: shine-yellow; }

		&.purple { background-position: 0 -328px; filter: drop-shadow(0 0 17px #f0fa); }
		&.purple:before { animation-name: shine-purple; }

		&.orange { background-position: 0 -410px; filter: drop-shadow(0 0 17px #f90a); }
		&.orange:before { animation-name: shine-orange; }

		&.blue { background-position: 0 -492px; filter: drop-shadow(0 0 17px #09fa); }
		&.blue:before { animation-name: shine-blue; }
	}

	.crystal-ball {
		background: url(~/img/crystalball.webp) 0 0 no-repeat;
		position: absolute;
		top: 248px;
		left: 820px;
		width: 190px;
		height: 190px;
		scale: .35;
		filter: drop-shadow(0 0 3px #fff5) drop-shadow(0 0 15px #fff7);
		animation: crystal 3000ms steps(40) infinite;

		&:after {
			content: "";
			background: url(~/img/crystalball.webp) -190px 0 no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 190px;
			height: 190px;
			animation: crystal-overlay 3000ms steps(40) infinite;
			mix-blend-mode: multiply;
			opacity: .5;
			filter: blur(5px);
		}
	}
}


@keyframes shine-red {
	0%   { background-position: -82px 0px; opacity: .75; }
	10%  { background-position: -738px 0px; opacity: .75; }
	25%  { background-position: -738px 0px; opacity: 0; }
	100% { background-position: -738px 0px; opacity: 0; }
}

@keyframes shine-white {
	0%   { background-position: -82px -82px; opacity: .75; }
	10%  { background-position: -738px -82px; opacity: .75; }
	25%  { background-position: -738px -82px; opacity: 0; }
	100% { background-position: -738px -82px; opacity: 0; }
}

@keyframes shine-green {
	0%   { background-position: -82px -164px; opacity: .75; }
	10%  { background-position: -738px -164px; opacity: .75; }
	25%  { background-position: -738px -164px; opacity: 0; }
	100% { background-position: -738px -164px; opacity: 0; }
}

@keyframes shine-yellow {
	0%   { background-position: -82px -246px; opacity: .75; }
	10%  { background-position: -738px -246px; opacity: .75; }
	25%  { background-position: -738px -246px; opacity: 0; }
	100% { background-position: -738px -246px; opacity: 0; }
}

@keyframes shine-purple {
	0%   { background-position: -82px -328px; opacity: .75; }
	10%  { background-position: -738px -328px; opacity: .75; }
	25%  { background-position: -738px -328px; opacity: 0; }
	100% { background-position: -738px -328px; opacity: 0; }
}

@keyframes shine-orange {
	0%   { background-position: -82px -410px; opacity: .75; }
	10%  { background-position: -738px -410px; opacity: .75; }
	25%  { background-position: -738px -410px; opacity: 0; }
	100% { background-position: -738px -410px; opacity: 0; }
}

@keyframes shine-blue {
	0%   { background-position: -82px -492px; opacity: .75; }
	10%  { background-position: -738px -492px; opacity: .75; }
	25%  { background-position: -738px -492px; opacity: 0; }
	100% { background-position: -738px -492px; opacity: 0; }
}


@keyframes crystal {
	0%    { background-position: 0 0; }
	100%  { background-position: 0 -7600px; }
}

@keyframes crystal-overlay {
	0%    { background-position: 0 0; }
	100%  { background-position: 0 -7600px; }
}

